<div class="list_departments">
  <%= link_to t("admin.departments.index"), new_admin_department_path, class: "btn btn-primary", role: :button %>
  <ul class="list-group">
    <%= render @departments %>
  </ul>
</div>
