<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <%= link_to t("admin.dashboard"), admin_root_path, class: "navbar-brand" %>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
      <%= link_to t("admin.settings"), admin_root_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to t("admin.logout"), admin_root_path, class: "dropdown-item" %>
        </div>
    </li>
  </ul>
</nav>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" %>
