<% provide :button_text, t("sign_ups.update") %>
<div class="container">
  <br>
  <div class="back">
    <% if current_admin_user&.customer? %>
      <%= link_to t("sign_ups.back"), :back, class: "btn btn-primary" %>
    <% end %>
  </div>
  <h2><%= t "sign_ups.edit" %></h2>
  <%= render "form" %>
</div>
