.table_manage h2 {
  text-align: center;
}

.card-header p {
  text-align: center;
  margin: 10px 10px;
}

.card-title p {
  text-align: center;
  margin: 10px 10px;
}

.card {
  margin-bottom: 15px;
}

.button-status {
  text-align: center;
}
