@import "color.scss";

#admin-contents{
  padding: 30px;
}

body > .sign-in {
  background: $grey2;
  min-height: 1000px;
}

body > .sign-in .submit{
  width: 100%;
}

.list_departments .row-dp td.name{
  min-width: 200px;
}

.list_departments .row-dp td.size{
  min-width: 150px;
}

.list_users .row-dp td.status,
.list_departments .row-dp td.status{
  min-width: 200px;
}

.list_users .row-dp td.status a,
.list_departments .row-dp td.status a{
  padding: 2px 10px;
  font-size: 13px;
}

.list_users table,
.list_departments table{
  margin-top: 30px;
}

ul.pagination li{
  padding: 4px 9px;
  border: 1px solid $paginati;
}

ul.pagination li.page{
  padding: 4px 12px;
}

ul.pagination li {
  border-left: 0px;
  font-size: 14px;
  font-weight: 500;
}

ul.pagination li:first-child {
  border-left: 1px solid $paginati;
}

ul.pagination li.page.active {
  background: $paginati_active;
}

ul.pagination li.page.active a{
  color: $while;
}

ul.pagination li:hover {
  background: $paginati_active;
}

ul.pagination li:hover a{
  color: $while;
}

.reset-error {
  color: $black;
  font-size: 13px;
  margin-top: 5px;
}
