@import "color.scss";

.tm-paging-links {
  text-align: center;
  margin-bottom: 40px;
}

.tm-paging-item {
  list-style: none;
  display: inline-block;
  border: 1px solid $sea_green;
  margin: 7px;
}

.tm-paging-link {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $sea_green;
  background-color: transparent;
}

.tm-paging-link.active,
.tm-paging-link:hover {
  background-color: $sea_green;
  color: white;
}

.tm-gallery {
  margin-bottom: 80px;
}

.tm-gallery-page {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tm-gallery-description {
  font-size: 0.95rem;
}

.tm-gallery-item {
  max-width: 280px;
}

.img-fluid {
  max-width: 100%;
  height: 170px;
}

.tm-gallery-img {
  margin-bottom: 20px;
}

.tm-gallery-price {
  font-size: 1.25rem;
  color: $sea_green;
  margin-bottom: 60px;
}

.tm-gallery-title {
  font-size: 1.3rem;
  font-weight: 400;
  color: $matisse;
  margin-bottom: 15px;
}

.tm-gallery-description {
  margin-bottom: 20px;
  height: 70px;
}

.order_items{
  width: 800px;
  margin: auto;
}

.order_items h1{
  text-align: center;
  margin-bottom: 50px;
}
