$paginati: #3891dc;
$paginati_active: #1b6db3;
$while: #ffffff;
$sea_green: #2F956D;
$matisse: #1A6692;
$green: green;
$grey: #f4f4f4;
$grey1: #e2e2e2;
$red0: #c50000;
$blue0: #001fff;
$black: #f70000;
$darkblue: #363e50;
$shark: #212529;
