$paginati: #3891dc;
$paginati_active: #1b6db3;
$while: #ffffff;
$sea_green: #2F956D;
$matisse: #1A6692;
$green: green;
$grey: #f4f4f4;
$grey1: #e2e2e2;
$grey2: #e4e4e4;
$red0: #c50000;
$blue0: #001fff;
$black: #f70000;
$darkblue: #363e50;
$shark: #212529;
$error_alert: #f2dede;
$error_alert1: #eed3d7;
$error_alert2: #b94a48;
$success_notice: #dff0d8;
$success_notice1: #d6e9c6;
$success_notice2: #468847;
$free: #0034f9;
$paid: #138c33;
$unpaid: #f00;
$using: #c71097;
$notificationtb: #f5b700;
