.image-dish{
  width: 150px;
  height: 150px;
}

.thumb img{
  width: 100px;
  height: 100px;
}

.title-form {
  text-align: center;
  margin-bottom: 20px;
}

.form-for {
  width: 80%;
  margin: auto;
}

.clearfix .btn-primary {
  float: right;
}
