input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.header_text h1{
  text-align: center;
}

.form_user {
  margin-bottom: 80px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.errors_textfield {
  border-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  min-height: 100%;
}

.main {
  text-align: center;
}

.footer {
  position: sticky;
  top: 100%;
  text-align: center;
  padding: 1rem;
}
