$('ul.errors').html('')
$('.notification').html('')
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    $('ul.errors').append($('<li />').html('<%= message.html_safe %>'))
  <% end %>
  $('.notification').append('<div class="alert alert-danger"><%= t ".danger" %></div>')
<% else %>
  $('.tbody').append('<%= j render "user", user: @user %>')
  $('#myModal-form-user').modal('hide')
  $('.notification').append('<div class="alert alert-success"><%= t ".success" %></div>')
<% end %>
