<div class="container dinner-tables">
  <div class="notificationtb"></div>
  <div class="row">
    <div class="col-md-12 title">
      <h2><%= t "dinner_tables.index.list" %>(<span><%= @dinner_tables.size %></span>)</h2>
    </div>
    <%= render @dinner_tables %>
  </div>
</div>
